header {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: relative;
}

.headerContainer {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.vkTitleContainer {
	width: 100%;
	height: 60%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.vkSign {
	width: auto;
	background-color: #fff;
	text-align: center;
	padding: 1rem;
}

.vkSign-subhead {
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
	padding: 1rem;
	max-width: 600px;

	@include bp(med) {
		max-width: 80%;
	}
}

// .buildingsContainer {
// 	width: 100%;
// 	max-width: 1200px;
// 	display: flex;
// 	justify-content: space-around;
// 	position: absolute;
// 	top: 65%;
// }

.portholeContainer {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 65%;
}

// .buildingIcon {
// 	width: 200px;
// 	height: 200px;
// 	background-size: contain;
// 	background-position: bottom;
// 	background-repeat: no-repeat;
// 	margin: 0 auto;
// }

.portholeIcon {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	border: $border_std;
	border-radius: 50%;
	box-shadow: $vk-shadow_blue;
}

.portholeIcon1 {
	background-image: url("../../assets/ventureKids_photo.jpg");
}

.portholeIcon2 {
	background-image: url("../../assets/Screen Shot 2018-10-19 at 9.53.55 PM.png");
}

.portholeIcon3 {
	background-image: url("../../assets/VentureKids_Art_Tech_Collide 042-cropped.jpg");
}

// .buildingIcon1 {
// 	background-image: url("../../assets/apartment1.svg");

// 	@include bp(med) {
// 		display: none;
// 	}
// }

// .buildingIcon2 {
// 	background-image: url("../../assets/apartment2.svg");

// 	@include bp(sml) {
// 		display: none;
// 	}
// }

// .buildingIcon3 {
// 	background-image: url("../../assets/apartment3.svg");

// 	@include bp(sml) {
// 		display: none;
// 	}
// }

// .buildingIcon4 {
// 	background-image: url("../../assets/apartment4.svg");

// 	@include bp(xsml) {
// 		display: none;
// 	}
// }

// .buildingIcon5 {
// 	background-image: url("../../assets/woman-computer.svg");
// }

// .buildingIcon6 {
// 	background-image: url("../../assets/apartment5.svg");
// }