header {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 124px 0 16px 0;
	background-color: white;
}

.headerContainer {
	width: 100%;
	height: 100vh;
}

.vkTitleContainer {
	width: 100%;
	height: 40%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.vkSign {
	width: auto;
	// background-color: $bg-blue;
	text-align: center;
}

.vkSign-subhead {
	justify-content: center;
	align-items: center;
	text-align: center;
	// background-color: $bg-blue;
	padding: 1rem;
	max-width: 600px;

	@include bp(med) {
		max-width: 80%;
	}
}

.portholeContainer {
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: space-around;
	margin: 48px auto;
}

.portholeIcon {
	width: 180px;
	min-width: 180px;
	height: 180px;
	min-height: 180px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	border: $border_std;
	border-radius: 50%;
	box-shadow: $vk_shadow-yellow
}

.portholeIcon1 {
	background-image: url("../../assets/ventureKids_photo.jpg");
}

.portholeIcon2 {
	background-image: url("../../assets/Screen Shot 2018-10-19 at 9.53.55 PM.png");
}

.portholeIcon3 {
	background-image: url("../../assets/VentureKids_Art_Tech_Collide 042-cropped.jpg");
}