header {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	position: relative;
}

.laptopContainer {
	position: relative;
	width: 60vw;
}

.laptopIcon {
	width: 200px;
	height: 200px;
	background-image: url("../../assets/laptop_open-col--blank.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 1rem auto;
}

.laptop {
	justify-content: center;
	align-items: center;
}

.vkSign-subhead {
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
	border: 4px solid black;
	padding: 2rem;
	box-shadow: 10px 10px rgba(42,42,41, 0.1);
}

.vkSign {
	// width: 600px;
	// margin-bottom: 2rem;
}

.vkSign-subhead {
	width: 450px;
}
