$vkFont: 'Bungee', sans-serif; // Venture Kids logo font
$fontStack: 'avenirReg', sans-serif;
$fs-light: 'avenirLight', sans-serif;
$fs-bold: 'avenirBold', sans-serif;

$vk_shadow-blue: 0.3rem 0.3rem rgba(48, 187, 187, 0.3);
$vk_shadow-yellow: 0.3rem 0.3rem #fcf3aa;
$vk_shadow-white: 0.3rem 0.3rem white;

$border_std: 4px solid black;

$bg-blue: rgba(48, 187, 187, 0.3);
$bg-yellow: #fcf3aa;

// MEDIA
$i5: ( max: 350px );
$mini: ( max: 400px );
$xsml: ( max: 440px );
$sml: ( max: 500px );
$med: ( max: 680px );
$lrg: ( max: 850px );
