$vkFont: 'Bungee', sans-serif; // Venture Kids logo font
$fontStack: 'nobelReg', sans-serif;
$fs-light: 'nobelLight', sans-serif;
$fs-bold: 'nobelBold', sans-serif;

$border_std: 4px solid black;
$bg-yellow: #fcf3aa;

// MEDIA
$mini: ( max: 400px );
$xsml: ( max: 440px );
$sml: ( max: 500px );
$med: ( max: 680px );
$lrg: ( max: 850px );
