.whatSectionTitle {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.sectionOverview {
	// width: 100%;
	width: 90%;
	margin: 0 auto;
}

.skillBlock {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 100px auto;
}

.skillBlock-first {
	margin-top: 3rem;
}

.skillBlockImage,
.skillBlockText {
	width: 47%;
}

.skillBlockImage {
	width: 200px;
	height: 200px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.skillIcon-product {
	background-image: url("../../assets/idea.svg");
}

.skillIcon-financial {
	background-image: url("../../assets/finance.svg");
}

.skillIcon-webDev {
	background-image: url("../../assets/coding.svg");
}

.skillIcon-growth {
	background-image: url("../../assets/growth.svg");
}

.skillBlockText {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

hr {
	width: 100%;
	background: black;
	margin: 50px 0px;
	height: 3px;
	border: none;
}