.wrapper.whatSection {
	margin: 148px auto;
}

.whatSectionTitle {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.sectionOverview {
	width: 90%;
	margin: 0 auto 5rem auto;
}

.skillBlock {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 6rem auto;
}

.skillBlock-product,
.skillBlock-webdev {

	@include bp(mini) {
		flex-direction: column-reverse;
	}
}

.skillBlock-financial,
.skillBlock-growth {

	@include bp(mini) {
		flex-direction: column;
	}
}

.skillBlockImage,
.skillBlockText {
	width: 47%;
}

.skillBlockImage {

	@include bp(lrg) {
		max-width: 27%;
		margin: 0 3%
	}
}

.skillBlockText {

	@include bp(lrg) {
		width: 70%;
	}

	@include bp(mini) {
		width: 95%;
	}

	h3 {
		@include bp(sml) {
			text-align: center;
		}
	}

	p {
		@include bp(sml) {
			display: none;
		}
	}
}

.skillBlockImage {
	width: 200px;
	height: 200px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;

	@include bp(lrg) {
		width: 150px;
		height: 150px;
	}
}

.skillIcon-product {
	background-image: url("../../assets/idea.svg");
}

.skillIcon-financial {
	background-image: url("../../assets/finance.svg");
}

.skillIcon-webDev {
	background-image: url("../../assets/coding.svg");
}

.skillIcon-growth {
	background-image: url("../../assets/growth.svg");
}

.skillBlockText {
	display: flex;
	flex-direction: column;
	justify-content: center;
}