.wrapper.whySection {
	margin: 148px auto;
}

.whySectionTitle h2 {
	text-align: center;
}

.uglyContainer {
	display: flex;
	margin-top: 3rem;

	@include bp(lrg) {
		flex-direction: column;
	}
}

.uglyTitle,
.uglyContent {
	width: 50%;

	@include bp(lrg) {
		width: 90%;
	}
}

.uglyTitle {
	font-size: 3rem;
	letter-spacing: 3px;
	line-height: 1.3;
	align-self: center;
}

.uglyContent {
	padding-left: 5%;
}

.whyDataContainer {
	margin: 6rem auto;
	display: flex;
	align-items: center;
}

.whyDataIcon,
.whyDataText {
	width: 50%;
}

.whyDataIcon {
	width: 200px;
	height: 200px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;

	@include bp(lrg) {
		width: 150px;
		height: 150px;
	}

	@include bp(sml) {
		width: 100px;
		height: 100px;
	}
}

.whyIcon-startups {
	background-image: url("../../assets/startup.svg");
}

.whyIcon-venture {
	background-image: url("../../assets/handshake.svg");
}

.whyIcon-ceo {
	background-image: url("../../assets/woman-muslim.svg");
}

.whyDataText {
	padding-left: 5%;

	@include bp(lrg) {
		width: 70%;
	}

	p {

		@include bp(sml) {
			display: none;
		}
	}
}