article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative; }

.vkTitleContainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.vkSign {
  width: 600px;
  background-color: #fff;
  border: 4px solid black;
  text-align: center;
  padding: 1rem; }

.vkSign-subhead {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 4px solid black;
  padding: 1rem;
  box-shadow: 10px 10px rgba(42, 42, 41, 0.1);
  width: 450px; }

.buildingsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 65%; }

.buildingIcon {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0 auto; }

.buildingIcon1 {
  background-image: url("../../assets/apartment1.svg"); }

.buildingIcon2 {
  background-image: url("../../assets/apartment2.svg"); }

.buildingIcon3 {
  background-image: url("../../assets/apartment3.svg"); }

.buildingIcon4 {
  background-image: url("../../assets/apartment4.svg"); }

.buildingIcon5 {
  background-image: url("../../assets/woman-computer.svg"); }

.buildingIcon6 {
  background-image: url("../../assets/apartment5.svg"); }

.aboutSection {
  display: flex;
  justify-content: center; }

.aboutTitleWrapper {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.aboutLineContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f3f3f3; }

.line {
  height: 135vh;
  width: 4px;
  background-color: #ffffaa;
  position: absolute;
  left: 50%;
  top: 100%;
  transform-origin: 0 0;
  box-shadow: 10px 10px rgba(42, 42, 41, 0.1); }

.line1 {
  transform: rotate(90deg); }

.line2 {
  transform: rotate(95deg); }

.line3 {
  transform: rotate(100deg); }

.line4 {
  transform: rotate(105deg); }

.line5 {
  transform: rotate(110deg); }

.line6 {
  transform: rotate(115deg); }

.line7 {
  transform: rotate(120deg); }

.line8 {
  transform: rotate(125deg); }

.line9 {
  transform: rotate(130deg); }

.line10 {
  transform: rotate(135deg); }

.line11 {
  transform: rotate(140deg); }

.line12 {
  transform: rotate(145deg); }

.line13 {
  transform: rotate(150deg); }

.line14 {
  transform: rotate(155deg); }

.line15 {
  transform: rotate(160deg); }

.line16 {
  transform: rotate(165deg); }

.line17 {
  transform: rotate(170deg); }

.line18 {
  transform: rotate(175deg); }

.line19 {
  transform: rotate(180deg); }

.line20 {
  transform: rotate(185deg); }

.line21 {
  transform: rotate(190deg); }

.line22 {
  transform: rotate(195deg); }

.line23 {
  transform: rotate(200deg); }

.line24 {
  transform: rotate(205deg); }

.line25 {
  transform: rotate(210deg); }

.line26 {
  transform: rotate(215deg); }

.line27 {
  transform: rotate(220deg); }

.line28 {
  transform: rotate(225deg); }

.line29 {
  transform: rotate(230deg); }

.line30 {
  transform: rotate(235deg); }

.line31 {
  transform: rotate(240deg); }

.line32 {
  transform: rotate(245deg); }

.line33 {
  transform: rotate(250deg); }

.line34 {
  transform: rotate(255deg); }

.line35 {
  transform: rotate(260deg); }

.aboutTitle {
  width: 600px;
  height: 80px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .aboutTitle h3 {
    text-align: center; }

.whatSectionTitle {
  display: inline-block;
  text-align: center;
  width: 100%; }

.sectionOverview {
  width: 90%;
  margin: 0 auto; }

.skillBlock {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 100px auto; }

.skillBlock-first {
  margin-top: 3rem; }

.skillBlockImage,
.skillBlockText {
  width: 47%; }

.skillBlockImage {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; }

.skillIcon-product {
  background-image: url("../../assets/idea.svg"); }

.skillIcon-financial {
  background-image: url("../../assets/finance.svg"); }

.skillIcon-webDev {
  background-image: url("../../assets/coding.svg"); }

.skillIcon-growth {
  background-image: url("../../assets/growth.svg"); }

.skillBlockText {
  display: flex;
  flex-direction: column;
  justify-content: center; }

hr {
  width: 100%;
  background: black;
  margin: 50px 0px;
  height: 3px;
  border: none; }

.provideSectionTitle {
  text-align: center; }

.provideContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 3rem; }

.provideBlock {
  width: 30%; }

.provideIcon {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; }

.provideIcon-lunch {
  background-image: url("../../assets/sandwich_new.png"); }

.provideIcon-tools {
  background-image: url("../../assets/pencil-case2.png"); }

.provideIcon-roleModels {
  background-image: url("../../assets/hands.svg"); }

.provideText h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem; }

.provideText-lunch,
.provideText-tools,
.provideText-roleModels {
  cursor: pointer; }
  .provideText-lunch:hover,
  .provideText-tools:hover,
  .provideText-roleModels:hover {
    color: red; }

.provideHidden {
  display: none; }
  .provideHidden p {
    text-align: center; }

.whySection {
  margin: 3rem auto; }

.whySectionTitle h2 {
  text-align: center; }

.uglyContainer {
  display: flex; }

.uglyTitle,
.uglyContent {
  width: 50%; }

.whyDataContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center; }

.whyDataIcon,
.whyDataText {
  width: 50%; }

.whyDataIcon {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; }

.whyIcon-startups {
  background-image: url("../../assets/startup.svg"); }

.whyIcon-venture {
  background-image: url("../../assets/handshake.svg"); }

.whyIcon-ceo {
  background-image: url("../../assets/woman-muslim.svg"); }

.sectionHeader h3 {
  text-align: center; }

.sponsorLogoContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

.sponsorLogo {
  width: 200px;
  height: 120px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; }

.sponsorLogo-lighthouse {
  background-image: url("../../assets/LighthouseLabs.png"); }

.sponsorLogo-telus {
  background-image: url("../../assets/Telus.png"); }

.sponsorLogo-node {
  background-image: url("../../../assets/Nodejs.png"); }

@font-face {
  font-family: neoReg;
  src: url("../../assets/fonts/neo_sans-regular.woff") format("woff"); }

@font-face {
  font-family: neoLight;
  src: url("../../assets/fonts/neo_sans-light.woff") format("woff"); }

@font-face {
  font-family: neoBold;
  src: url("../../assets/fonts/neo_sans-bold.woff") format("woff"); }

h1 {
  font-family: "Bungee", sans-serif;
  font-size: 4rem;
  margin: 0px 0px 1rem 0px;
  text-shadow: 0.3rem 0.3rem rgba(48, 187, 187, 0.3); }

h2 {
  font-family: "neoBold", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0px; }

h3 {
  font-family: "neoLight", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0px; }

h4 {
  font-family: "neoLight", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0px; }

body {
  font-family: "neoLight", sans-serif;
  position: relative;
  width: 100%;
  height: 100%; }

p {
  letter-spacing: 0.5px; }

.button_std {
  margin-top: 2rem;
  background-image: none;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 1rem; }
  .button_std:hover {
    background-color: black;
    color: white; }

.wrapper {
  width: 94vw;
  margin: 3rem auto; }
